/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		4.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Dec 12, 2015
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Light.eot');
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb.eot');
  src: url('../../../public/fonts/IRANSans/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/farsi_numeral/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/farsi_numeral/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/farsi_numeral/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/farsi_numeral/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum).eot');
  src: url('../../../public/fonts/IRANSans/farsi_numeral/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../../public/fonts/IRANSans/farsi_numeral/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../public/fonts/IRANSans/farsi_numeral/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

.v-application {
  font-family: 'IRANSans', 'Arial', 'Verdana', 'Tahoma', sans-serif;
}
