/**
*
*	Name:			iranyekan Font
*	Version:			3.3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Sep 17, 2020
*	Updated on:		Sep 17, 2020
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
iranyekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebboldfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebthinfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebThin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanweblightfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebregularfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebRegular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebMedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebblackfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('../../../public/fonts/iranyekan/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../public/fonts/iranyekan/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../public/fonts/iranyekan/fonts/woff2/IRANYekanWebExtraBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../public/fonts/iranyekan/fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}
