@import "~katex/dist/katex.css";
@import "~github-markdown-css/github-markdown.css";

.renderedPanel {
  direction: rtl;
  &.ltr,
  .katex {
    direction: ltr;
    display: inline-block;
    .katex-html {
      .accent {
        background-color: unset !important;
        border-color: unset !important;
      }
    }
  }
  strong>strong>s {
    text-decoration: underline;
    text-underline-position: under;
  }
  .beit {
    display: inline-block;
    .mesra {
      width: 50%;
      float: right;
    }
  }
  .mesra {
    width: 50%;
    float: right;
  }

  @media only screen and (max-width: 800px) {
    .mesra {
      width: 100%;
      float: none;
    }
  }
}
