@import "~katex/dist/katex.css";
@import "~github-markdown-css/github-markdown.css";

td, th {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
}

th {
  border-bottom: 2px solid #000;
}

table {
  border-collapse: collapse;
}

.renderedPanel {
  direction: rtl;
  &.ltr,
  .katex {
    direction: ltr;
    display: inline-block;
    .katex-html {
      .accent {
        background-color: unset !important;
        border-color: unset !important;
      }
    }
  }
  strong>strong>s {
    text-decoration: underline;
    text-underline-position: under;
  }
  .beit {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    .mesra {
      width: 50%;
      float: right;
    }
  }
  .mesra {
    width: 50%;
    float: right;
  }

  @media only screen and (max-width: 800px) {
    .mesra {
      width: 100%;
      float: none;
    }
  }
}
