@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 100;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-Thin.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-Thin.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-Thin.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-Thin.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/Peyda/fonts/TTF/peyda-light.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/peydaWeb-light.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/peydaWeb-light.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/peydaWeb-light.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-Regular.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-Regular.eot') ;
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-Regular.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-Regular.woff2') format('woff2');

}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-SemiBold.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-SemiBold.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-SemiBold.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-Bold.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-Bold.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-Bold.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-Bold.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 800;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-ExtraBold.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-ExtraBold.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-ExtraBold.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 900;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-Black.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-Black.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-Black.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-Black.woff2') format('woff2');
}

@font-face {
  font-family:  peyda;
  font-style: normal;
  font-weight: 950;
  src: url('src/assets/fonts/Peyda/fonts/TTF/Peyda-ExtraBold.ttf');
  src: url('src/assets/fonts/Peyda/fonts/eot/PeydaWeb-ExtraBold.eot');
  src: url('src/assets/fonts/Peyda/fonts/woff/PeydaWeb-ExtraBold.woff') format('woff');
  src: url('src/assets/fonts/Peyda/fonts/woff2/PeydaWeb-ExtraBold.woff2') format('woff2');

}
