@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 100;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Thin.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Thin.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-Thin.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Thin.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Light.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Light.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-Light.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Light.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Regular.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Regular.otf') ;
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-Regular.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Regular.woff2') format('woff2');

}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-SemiBold.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-SemiBold.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-SemiBold.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Bold.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Bold.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-Bold.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Bold.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 800;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-ExtraBold.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-ExtraBold.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-ExtraBold.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 900;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Black.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Black.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-Black.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Black.woff2') format('woff2');
}

@font-face {
  font-family:  yekanbakh;
  font-style: normal;
  font-weight: 950;
  src: url('src/assets/fonts/YekanBakh/fonts/TTF/YekanBakh-ExtraBlack.ttf');
  src: url('src/assets/fonts/YekanBakh/fonts/OTF/YekanBakh-ExtraBlack.otf');
  src: url('src/assets/fonts/YekanBakh/fonts/woff/YekanBakh-ExtraBlack.woff') format('woff');
  src: url('src/assets/fonts/YekanBakh/fonts/woff2/YekanBakh-ExtraBlack.woff2') format('woff2');

}
