.q-chip{
  background:var(--3a-Neutral2);
  height: 22px;
  font-weight: 500;
  line-height: 21px;
  color: var(--3a-TextPrimary);
  font-size: 12px;
  border-radius: 12px!important;
  margin: 0;
  .q-chip__content{
    padding-right: 5px;
  }
  .q-icon{
    font-size: 1.1em;
    color: var(--3a-TextPrimary);
  }
}
