:root {
  --3a-Primary: #9690E4;
  --3a-Secondary: #FFB74D;
  --3a-Purple-d: #8075DC;
  --3a-Purple-l: #E4E3F8;
  --3a-TextPrimary: #23263B;
  --3a-TextSecondary: #65677F;
  --3a-Neutral1: #DEDEDE;
  --3a-Neutral2: #F4F5F6;
  --3a-Neutral3: #FFFFFF;
  --3a-Sem1: #4CAF50;
  --3a-Sem2: #E86562;
  --3a-EQ: #8ED6FF;
  --3a-MQ: #FFCA28;
  --3a-DQ: #DA5F5C;


  --background-1: #fff;
  --background-2: #f5f5f5;
  --background-3: red;
  --surface-1: #fff;
  --surface-2: #f1f1f1;
  --surface-3: #f1f1f1;
  --primary-1: #ffc107;
  --primary-2: #fbcf4b;
  --primary-3: #ffc107;
  --text-1: #000;
  --text-2: #666;
  --text-3: #fff;
  --accent-1: #2196F3;
  --accent-2: #2196F3;
  --accent-3: #2196F3;
  --success-1: #4caf50;
  --success-2: #4caf50;
  --success-3: #4caf50;
  --error-1: #f44336;
  --error-2: #f44336;
  --error-3: #f44336;
}
 // ------ quasar variables
$primary   : #9690E4; // for 3A
$accent    : #65677F;
$dark      : #1D1D1D;
$positive  : #4caf50;
$negative  : #E86562;
$info      : #31CCEC;
$warning   : #F2C037;
$success : #4caf50;
$secondary: #FFB74D;

