@import 'src/css/fonts.scss';
@import 'src/css/Theme/colors';
@import 'src/css/Theme/sizes';
@import 'src/css/Theme/Controls/controles';
@import 'src/css/Theme/Widgets/widgets';
@import 'src/css/Theme/Form-Builder/entity';

* {
    /*font-family: 'iranyekan', 'Arial', '-apple-system', 'Helvetica Neue', Helvetica, sans-serif ;*/
    font-family: yekanbakh , 'Arial', '-apple-system', 'Helvetica Neue', Helvetica, sans-serif ;
  }
  body.body--light {
    background: #f1f1f1
  }
  .default-notify-class {
    font-size: 18px;
    /*width: 30%;*/
    text-align: center;
    padding: 10px 16PX;
  }
  /*body.body--dark {*/
  /*  background: #000*/
  /*}*/

