@import "customVariables";

.q-field--filled {
  .q-field__inner{
    .q-field__control{
      background-color : $customGray;
      border-radius: $radius-15 ;
      .q-field__append{
        .q-icon{
            color: $customBlack;
          font-size: 20px;
            padding: 7px;
        }
      }
    }
  }
}
.custom_card{
  box-shadow: 2px -4px 10px rgba(255, 255, 255, 0.6), -2px 4px 10px rgba(112, 108, 162, 0.05);
  border-radius: 20px;
  background: #ffffff;
}

