// Quasar SCSS (& Sass) Variables

$primary   : #9690E4; // for 3A
$accent    : #65677F;
$dark      : #1D1D1D;
$positive  : #4caf50;
$negative  : #f44336;
$info      : #31CCEC;
$warning   : #F2C037;
$success : #4caf50;

//---------------------- custom them Variables -------------------------

//colors
$customGray: #F4F5F6;
$customBlack : #23263B;
$customGreen : #72BC75;


// size
$radius-15 : 15px;
$radius-10 : 10px;
