// -----------------------------------> fonts  <-----------------------------------

@import 'src/assets/scss/IranyekanFont.scss';
@import 'src/assets/scss/IRANSansFont.scss';
//@import 'src/assets/scss/YekanBakh.scss';

// -----------------------------------> icons  <-----------------------------------

@import 'src/assets/icons/Iconsax/style.css';
@import 'src/assets/icons/flatIcon.css';


