@mixin katex-rtl-fix {
  .halfarrow-right {
    /*rtl:ignore*/
    right: 0;
    /*rtl:ignore*/
    left: auto;
  }
  .halfarrow-left {
    /*rtl:ignore*/
    left: 0;
    /*rtl:ignore*/
    right: auto;
  }
  .sqrt {
    & > .root {
      /*rtl:ignore*/
      margin-left:.27777778em;
      /*rtl:ignore*/
      margin-right:-.55555556em
    }
  }
  .mtable {
    .col-align-l > .vlist-t {
      /*rtl:ignore*/
      text-align: left;
    }
  }
  .rlap {
    & > .inner {
      /*rtl:ignore*/
      left: 0;
    }
  }
  .brace-left {
    /*rtl:ignore*/
    left: 0;
    /*rtl:ignore*/
    right: auto !important;
  }
  .brace-right {
    /*rtl:ignore*/
    right: 0;
    /*rtl:ignore*/
    left: auto !important;
  }
  .vlist-t2 {
    /*rtl:ignore*/
    margin-right: -2px;
    /*rtl:ignore*/
    margin-left: unset;
  }
  .llap {
    & >.inner {
      /*rtl:ignore*/
      right:0;
      /*rtl:ignore*/
      left: auto;
    }
  }
  .msupsub {
    /*rtl:ignore*/
    text-align: left;
  }
  .svg-align {
    /*rtl:ignore*/
    text-align: left;
  }
}
