  .q-btn {
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    text-align: center;
    &.q-btn--outline::before {
      border: 2px solid currentColor;
      box-sizing: border-box;
      filter: drop-shadow(-2px -4px 10px rgba(255, 255, 255, 0.6)) drop-shadow(2px 4px 10px rgba(112, 108, 162, 0.05));
    }
    .q-btn__content {
      margin: 8px;
    }
  }

  .btn-sm {
    padding: 0 5px 0 7px;
    font-size: 14px;

  }
  .btn-md {
    padding: 0 30px;
    font-size: 14px;
  }
  .btn-lg {
    padding: 2px 73px 2px 73px;
    font-size: 16px;
  }
