  .q-btn {
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .btn-sm {
    padding: 8px 13px 8px 15px;
    font-size: 14px;

  }
  .btn-md {
    padding: 8px 38px 8px 38px;
    font-size: 14px;
  }
  .btn-lg {
    padding: 10px 81px 10px 81px;
    font-size: 16px;
  }
  .btn-with-icon {
    font-size: 16px;
    width: 40px;
    max-height: 40px;
    min-height: 40px;
    padding: 0;
    &.q-btn--outline::before {
      border: 2px solid #9690E4;
      box-sizing: border-box;
      filter: drop-shadow(-2px -4px 10px rgba(255, 255, 255, 0.6)) drop-shadow(2px 4px 10px rgba(112, 108, 162, 0.05));
    }
  }
