.q-checkbox{
  margin-right: 8px;
    .q-checkbox__inner{
      &.q-checkbox__inner--falsy{
        color: var(--3a-TextSecondary) !important;
      }
      .q-checkbox__bg{
        border-radius: 5px;
        border: 1px solid;
      }
    }
}
