@mixin global-check-box {
  .q-checkbox {
    margin-right: 8px;

    .q-checkbox__inner {
      &.q-checkbox__inner--falsy {
        color: var(--3a-TextSecondary);
      }

      .q-checkbox__bg {
        border-radius: 5px;
        border: 1px solid;
      }
    }
  }
}
.q-checkbox__svg{
  width: 15px !important;
  margin-right: 5px;
}
.q-checkbox__inner--truthy {
  .q-checkbox__bg {
    background: var(--3a-Secondary);
    border: 1px solid var(--3a-Secondary) !important;
    border-radius: 5px;
  }
}
.q-checkbox__inner--falsy{
  .q-checkbox__bg{
    border: 1px solid #8A8CA6;
    border-radius: 5px;
  }
}
