@mixin global-input {
    .q-field__inner {
      .q-field__control {
        background-color : var(--3a-Neutral3);
        border-radius: 10px;
        height: 40px;
        min-height: 0;
        .q-field__append {
          height: 40px;
          min-height: 0;
          padding: 8px 20px;
          .q-icon {
            color: var(--3a-TextPrimary);
            font-size: 20px;
          }
        }
        .q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
          background: var(--3a-Neutral3);
          border-radius: 10px;
          padding: 8px 24px;

        }
        .q-field__control-container {
          padding-top: 0;
        }
        .q-field__label {
          font-size: 14px;
          color: var(--3a-TextSecondary);
          font-weight: 400;
          line-height: 24px;
          margin: -8px 24px;
        }
      }
    }
}
