@mixin global-input {
    .q-field__inner {
      border-radius: 10px;
      .q-field__control {
        color: transparent;
        border-radius: 10px;
        height: 40px;
        min-height: 0;
        .q-field__append , .q-field__prepend {
          height: 40px;
          min-height: 0;
          padding: 8px 20px;
          .q-icon {
            font-size: 20px;
          }
        }
        .q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
          border-radius: 10px;
          padding: 8px 24px;

        }
        .q-field__control-container {
          padding-top: 0;
        }
        .q-field__label {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          margin: -8px 24px;
        }
      }

    }
}


.q-field--focused {
  border: none;
}

.q-field__inner {
  .q-field__control {
    background-color: var(--3a-Neutral3);
    .q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    }
    .q-field__append {
      .q-icon {
        color: var(--3a-TextPrimary);
      }
    }

    .q-field__label {
      color: var(--3a-TextSecondary);
    }
  }
}
