@import 'src/css/Theme/colors';
@import 'src/css/Theme/sizes';

.q-field--filled {
  .q-field__inner{
    .q-field__control{
      background-color : var(--3a-Neutral3);
      border-radius: $radius-15;
      .q-field__append{
        .q-icon{
          color: var(--3a-TextPrimary);
          font-size: 20px;
          padding: 7px;
        }
      }
    }
  }
}
