.q-radio {
  .q-radio__inner {
    .q-radio__icon-container {
      border-radius: 50%;
      color: white;
      background: var(--3a-Secondary);
      i {
        font-size: 16px;
      }
    }
  }
}
