.q-toggle{
  .q-toggle__inner{
    .q-toggle__track{
      width: 40px;
      height: 24px;
      border-radius: 15px;
    }
    .q-toggle__thumb{
      color: var(--3a-Neutral3);
      top: 15px;
      &:after{
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
      ;
      }
    }
    &.q-toggle__inner--truthy{
      .q-toggle__thumb{
        left: 14px;
      }
    }
    &.q-toggle__inner--falsy{
      .q-toggle__track{
        background-color: #C4C4C4;
      }
      .q-toggle__thumb{
        left: 28px;
      }
    }
  }
}
