@import 'src/css/Theme/colors';

.form-builder-tiptapEditor-col{
   .tiptap-plus-container{
     background-color: var(--3a-Neutral2);
     border: 1px solid var(--3a-Neutral1);
     border-radius: 16px;
   }
 }
