
.form-builder-tiptapEditor-col {
  padding: 8px 12px 0 12px ;
  &:deep(p) {
    &:first-child {
      margin-bottom: 0 ;
    }
  }
  .tiptap-container {
     background-color: var(--3a-Neutral3);
     border-radius: 20px;
   }

  .vue-tiptap-katex {
    .tiptap-header {
      border-radius: 20px 20px 0 0;
      background-color: var(--3a-Neutral3);
      border-bottom: 1px solid var(--3a-Neutral1);
      margin: 24px;
      padding: 0;
    }
  }
 }
