

.form-builder-input-col {
  .q-input {
    .q-field__inner {
      .q-field__control {
        background: #FFFFFF;
        border-radius: 10px;

        .q-field__control-container {
          .q-field__native {
            padding: 30px 20px 8px 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
          }

          .q-field__label {
            padding-left: 10px;

          }
        }
      }
    }
  }

}
