

.form-builder-Select-col {
  .q-select {
    .q-field__inner {
      .q-field__control {
        background: #FFFFFF;
        border-radius: 10px;

        .q-field__control-container {
          .q-field__label {
            padding-left: 10px;
          }
        }
      }
    }
  }

}
