.katex {
  display: inline-block;
  direction: ltr;
  unicode-bidi: bidi-override;
}
/*YekanBakh-Black*/
/*YekanBakh-Bold*/
/*YekanBakh-ExtraBlack*/
/*YekanBakh-ExtraBold*/
/*YekanBakh-Light*/
/*YekanBakh-Medium*/
/*YekanBakh-Regular*/
/*YekanBakh-Thin*/
@font-face {
  font-family:  'YekanBakh-Thin';
  font-style: normal;
  font-weight: 100;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Thin.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Thin.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-Thin.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Thin.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Light.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Light.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-Light.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Light.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Regular.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Regular.otf') ;
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-Regular.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Regular.woff2') format('woff2');

}

@font-face {
  font-family:  'YekanBakh-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-SemiBold.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-SemiBold.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-SemiBold.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Bold.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Bold.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-Bold.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Bold.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-ExtraBold.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-ExtraBold.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-ExtraBold.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-Black';
  font-style: normal;
  font-weight: 900;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-Black.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-Black.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-Black.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-Black.woff2') format('woff2');
}

@font-face {
  font-family:  'YekanBakh-ExtraBlack';
  font-style: normal;
  font-weight: 950;
  src: url('../../../assets/fonts/YekanBakh/fonts/TTF/YekanBakh-ExtraBlack.ttf');
  src: url('../../../assets/fonts/YekanBakh/fonts/OTF/YekanBakh-ExtraBlack.otf');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff/YekanBakh-ExtraBlack.woff') format('woff');
  src: url('../../../assets/fonts/YekanBakh/fonts/woff2/YekanBakh-ExtraBlack.woff2') format('woff2');

}

/*// bidi algorithm generates wrong result for*/
/*// inline persian and english \text combinations*/
/*// so we make all \text inline-block*/
.katex .mord.text .YekanBakh-Black,
.katex .mord.text .YekanBakh-Bold,
.katex .mord.text .YekanBakh-ExtraBlack,
.katex .mord.text .YekanBakh-ExtraBold,
.katex .mord.text .YekanBakh-Light,
.katex .mord.text .YekanBakh-SemiBold,
.katex .mord.text .YekanBakh-Regular,
.katex .mord.text .YekanBakh-Thin {
  display: inline-block;
}

.YekanBakh-Black {
  font-family: 'YekanBakh-Black';
}
.YekanBakh-Bold {
  font-family: 'YekanBakh-Bold';
}
.YekanBakh-ExtraBlack {
  font-family: 'YekanBakh-ExtraBlack';
}
.YekanBakh-ExtraBold {
  font-family: 'YekanBakh-ExtraBold';
}
.YekanBakh-Light {
  font-family: 'YekanBakh-Light';
}
.YekanBakh-SemiBold {
  font-family: 'YekanBakh-SemiBold';
}
.YekanBakh-Regular {
  font-family: 'YekanBakh-Regular';
}
.YekanBakh-Thin {
  font-family: 'YekanBakh-Thin';
}
